.editor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border: 1px solid gray;

    padding: 10px 15px;

    // margin-top: 15px;

    // max-width: 90%;

    word-break: break-word;

    .icon {
        margin-right: 10px;

        cursor: grab!important;
    }

    cursor: default!important;
}
